NODE_ENV=development
DATABASE=mongodb://localhost:port/delicious_shops
MAIL_USER=xxx
MAIL_PASS=xxx
MAIL_HOST=xxx
MAIL_PORT=25
PORT=7777
MAP_KEY=AIzaSyClnioTFi6E4bBaiHiE3wsvY-2Orvc1dNY
SECRET=xxx
KEY=xxx
